<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <style>
      .ticket {
  display: flex;
  font-family: Bree Serif;
  margin: 16px;
  border: 1px solid #e0e0e0;
  position: relative;
  background: linear-gradient(90deg, rgba(54,209,220,1) 24%, rgba(91,134,229,0.6671043417366946) 74%);
}
.ticket--center {
  position: relative;
  border-right: 2px dashed #0c0b0b;
}
  .ticket--center {
    padding: 5px 22px 10px 22px;
    flex: 1;
  }
.ticket--center--row {
  display: flex;
}
/* .ticket--center--row:not(:last-child) {
  padding-bottom: 48px;
} */
.ticket--center--row:first-child span {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.ticket--center--row:first-child strong {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.ticket--center--col {
  /* display: flex; */
  flex: 1;
  width: 50%;
  box-sizing: border-box;
  flex-direction: column;
}
.ticket--center--col:not(:last-child) {
  padding-right: 16px;
}
.ticket--end {
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.ticket--end:before {
  content: '';
  width: 32px; 
  height: 32px; 
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  transform: rotate(-45deg);
  right: -18px;
  top: -2px;
  margin-top: -16px;
  border-radius: 50%;
}
.ticket--end:after {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  transform: rotate(-45deg);
  right: -18px;
  top: 100%;
  margin-top: -16px;
  border-radius: 50%;
}
.ticket--end > div:first-child {
  flex: 1;
}
.ticket--end > div:first-child > img {
  width: 128px;
  padding: 2px;
  background-color: #fff;
}
.ticket--end > div:last-child > img {
  display: block;
  margin: 0 auto;
  filter: brightness(0) invert(1);
  opacity: 0.64;
}
.ticket--info--title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

.date{
  font-size: 10px;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.codebar{
  width: 150px;
}
.qrcode{
  width: 80px !important;
  height: 80px;
}

p{
  margin: 2px 0 0 0;
}

.bottom{
  margin-top: 6px;
}
.margin-bottom{
  margin-bottom: 15px;
}


    </style>
</head>
<body>
    <div class="ticket">
        <!-- <div class="ticket--start">
          <img src="https://i.ibb.co/W3cK42J/image-1.png"/>
        </div> -->
        <div class="ticket--center">
          <div class="ticket--center--row margin-bottom">
            <div class="ticket--center--col flex-col ">
              <!-- <strong>Grande conférence sur</strong>
              <strong>l'Orientation et la Mobilité internationale </strong> -->
              <img class="codebar" src="https://o.remove.bg/downloads/8c0f1eba-2efb-4ede-8c6c-746420c206c1/image-removebg-preview.png"/>
            </div>
             <img class="codebar" src="https://o.remove.bg/downloads/58c3f5f0-f115-49cb-9bc0-3fdeb75fcaf1/kisspng-hitman-blood-money-agent-47-barcode-information-barcode-5abea891c982a2.2626952415224444338254-removebg-preview.png"/>
          </div>
          <div class="ticket--center--row">
            <div class="">
              <p class="content">Le premier pas est toujours le plus grand! </p></hr>
              <p class="content margin-bottom">Merci d’avoir fait le premier pas vers nous. C’est avec impatience que nous vous attendons à l'hotel <b>DJEUGA PALACE</b> de <b>Yaoundé</b> lors de la <b>grande conférence</b> portant sur le theme .....,</p>

              </hr>
              <span>M/Mme/Mlle </span><b>{{data.lastName}}  {{data.firstName}}</b></hr>
              <p class="content margin-bottom">Faites avec nous le second pas vers vos études supérieurs à l’étranger en nous rejoignant le <b>5 Décembre 2022</b> à <b>15h00</b> heure du Cameroun </p></hr>

            </div>
          </div>
          <div class="date flex-row bottom">
            <span>Reservé par <b>{{data.lastName}}  {{data.firstName}}</b> le <b>10 Nov 2022</b> à <b>15h05</b></span> &nbsp;&nbsp;  
            <span><b>Appels:</b> +33 6 55 26 35 41 / +237 6 99 22 56 23</span> &nbsp;&nbsp;  
            <span><b>Whatsapp:</b> +33 6 55 26 35 41 / +237 6 99 22 56 23</span>
        </div>
        </div>
        <div class="ticket--end">
          <div class="flex-col">
            <img class="qrcode" src="https://upload.wikimedia.org/wikipedia/commons/7/78/Qrcode_wikipedia_fr_v2clean.png"/>
        </hr>
            <span class="date">N°12345856200</span>
        </div>
          <!-- <div><img src="https://qidoon.com/assets/img/logo.svg"/></div> -->
          <div class="date bottom"><span>Par: <b>Rodrigue léon</b></span></div>
          <div class="date"><span>Le: <b>10 Nov 2022 à 15h05</b></span></div>
          
          
        </div>
      </div>
</body>
</html>